body {
  font-family: Arial;
  background-color: #ffcc33;
}

h1 {
  color: #ff6633;
  font-size: 23px;
}
p {
  color: orange;
  font-size: 16px;
  background-color: #246aae;
}

title {
  color: orange;
}

table, th, td {
  border: 2px solid white;
  text-align: center;
}

img {
  
}

nav{
    background-color: #ff6633;
    margin-right: 1145px;
    margin-left: 0px;
}